{% extends 'booklog/base.html' %}

{% block title %}{% if object %}書籍の編集{% else %}新しい本を追加{% endif %}{% endblock %}

{% block content %}
  <h1>{% if object %}書籍の編集{% else %}新しい本を追加{% endif %}</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">登録</button>
    <a href="{% if object %}{% url 'booklog:book_detail' object.pk %}{% else %}{% url 'booklog:book_list' %}{% endif %}" class="btn btn-secondary">キャンセル</a>
  </form>
{% endblock %}